body {font-family:\5FAE\8F6F\96C5\9ED1;width: 100%;height:100%;background: url("../img/bbbg.png");}
.mt60 {margin-top: 70px;}
.mr10 {margin-right: 10px;}
.mt10 {margin-bottom: 10px;}
.mt40 {margin-top: 40px;}
.mb170 {margin-bottom:170px;}
.fl {float: left;}
.fr {float: right;}
.h_time {font-size: 18px;font-weight: normal;}
.section-summary {padding:10px;border: 1px solid #ccc;border-radius: 5px;background:rgba(238, 238, 238, 0.82);}
.error-mes {width: 160px;font-size: 16px;font-weight: bold;;color: red;}
h2.catagory {margin-top: 0;padding: 10px;background: #fff;text-align: center;}
.photo {display:block;width: 80px;height: 80;margin: 5px auto;}

.bb1 {border-bottom: 1px solid #189de2;overflow: hidden;}
.section-main-content {position: relative;border-bottom: 1px #c2cacf solid; overflow: hidden;}
.section-main-content dt {float: left;width: 100px;height: 100px;margin-right: 10px;}
.section-main-content dt img {display: block;width: 80px;height: 70px;margin: 3px auto 0;}
.section-main-content dt span {display: block;text-align: center;}
.section-post-time {position: absolute;bottom: 0;right: 0;}